.form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}
